
$theme: '';/* @group SC.SplitView */

.sc-theme .sc-horizontal .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/96c2d8d0d53d476a524a6374b5a72c58f2d13bee/source/images/sc-theme-ysprite.png') repeat-y 0px top;
}

.sc-theme .sc-vertical .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/96c2d8d0d53d476a524a6374b5a72c58f2d13bee/source/images/sc-theme-repeat-x.png') repeat-x 0px -1397px;
}


